<footer class="footer">
  <div class="container to-100-per-990">
    <div class="footer_image">
      <img src="../assets/img/footer-logo.png" class="footer_image-img img-responsive" alt="footer-logo mabbaz">
    </div>
    <p class="footer_image-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod </p>
    <ul class="footer_social">
      <li class="footer_social-li"><a href="#" class="fab fa-facebook-f footer_social-li--i" target="_blank"></a></li>
      <li class="footer_social-li"><a href="#" class="fab fa-instagram footer_social-li--i" target="_blank"></a></li>
      <li class="footer_social-li"><a href="#" class="fab fa-twitter footer_social-li--i" target="_blank"></a></li>
      <li class="footer_social-li"><a href="#" class="fab fa-pinterest-p footer_social-li--i" target="_blank"></a></li>
    </ul>
    <ul class="footer_pages">
      <li class="footer_pages-li"><a href="{% link accueil.html %}" class="footer_pages-li--link">Home</a> </li>
      <li class="footer_pages-li"><a href="" class="footer_pages-li--link">About Us</a> </li>
      <li class="footer_pages-li"><a href="" class="footer_pages-li--link">Blog</a> </li>
      <li class="footer_pages-li"><a href="" class="footer_pages-li--link">Tools</a> </li>
      <li class="footer_pages-li"><a href="" class="footer_pages-li--link">Blog</a> </li>
      <li class="footer_pages-li"><a href="" class="footer_pages-li--link">Resources</a> </li>
    </ul>
  </div>
  <div class="footer_bottom">
    <p class="footer_bottom-p">mabbaz</p>
  </div>
</footer>


<script src="./assets/js/index.js"></script>