<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="m-r-5">
                    <div class="footer_logo">
                        <a href="./accueil.html" title="Accueil"><img loading="lazy" src="./assets/img/logo.png"
                                class="footer_logo-img" alt="Elevage chat bengal" /></a>
                    </div>
                    <p class="about_content-p">Découvrez l’élevage chat de bengal de qualité dans le département 77 et trouvez les chatons Bengal parfait pour vous</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="footer_content">
                    <ul class="footer_content-ul">
                        Les liens
                        <li class="footer_content-li mt-3">
                            <a href="./accueil.html" title="Accueil" class="footer_content-li--link">Accueil</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="./nos-chats.html" class="footer_content-li--link" title="Nos chats">Nos chats</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="./nos-conseils.html" class="footer_content-li--link" title="Nos conseils">Nos conseils</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="./contact.html" class="footer_content-li--link" title="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <ul class="footer_content-ul">
                        Nos contacts
                        <li class="footer_content-li">
                            <a href="tel:{{site.data.company.phone}}" class="footer_content-li--link" title="Tel">Tel:
                                {{site.data.company.phone}}</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="mailto:{{site.data.company.email}}" class="footer_content-li--link" title="Mail">Mail:
                                {{site.data.company.email}}</a>
                        </li>
                        <li class="footer_content-li">
                            <p class="footer_content-li--link">Adresses: {{site.data.company.address}}</p>
                        </li>
                        <!-- <li class="footer_content-li">
                            <a href="" class="footer_content-li--icon"><i class="fab fa-facebook-square"></i></a>
                            <a href="" class="footer_content-li--icon"><i class="fab fa-twitter"></i></a>
                            <a href="" class="footer_content-li--icon"><i class="fab fa-instagram"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom">
    <a href="https://bhinternet.fr/" target="_blank" class="footer_bottom-p" title="BHinternet">BH Internet - Création de site
        internet | 2023</a>
</div>


<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>