<section class="Navbar navbar-main fixedNav">
  <nav class="navbar navbar-expand-lg fixedNav">
    <div class="container-fluid">
      <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
      </button>
      <div class="Navbar_main">
        <div class="Navbar_image">
          <a href="./accueil.html" title="Accueil"><img loading="lazy" src="./assets/img/logo.png"
              class="Navbar_image-img" alt="logo" />
          </a>
          <p class="Navbar_brand">mabbaz</p>
        </div>
        <div class="Navbar_nav-collapse" id="navbarNav">
          <ul class="navbar-nav Navbar_nav ml-auto">
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="./accueil.html">Home</a>
            </li>
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="">
                About Us</a>
            </li>
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="">
                Blog</a>
            </li>
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="">Tools</a>
            </li>
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="">Blog</a>
            </li>
            <li class="nav-item Navbar_nav-item">
              <a class="nav-link Navbar_nav-link" href="">Resources</a>
            </li>
          </ul>
        </div>
        <div class="Navbar_nav-button">
          <a href="" class="Navbar_nav-button--btn">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
</section>